.form-group, button{
  margin: 10px;
}
.glavno{
  margin: 50px auto;
  width: 50%;
  border-radius: 20px;
  background-color: white;
  padding: 20px;
}
.glavno h1{
  text-align: center;
}
.glavno .gumbi{
  width: 20%;
  margin: 0 auto;
}
.glavno input[type='text'],.glavno input[type='email'],.glavno input[type='password']{
  width: 60%;
}
